version: '3.8'

services:
  api:
    build: .
    ports:
      - "5000:80"
    depends_on:
      - db
    environment:
      - ConnectionStrings__Default=Host=db;Port=5432;Database=openledger;Username=postgres;Password=postgres
      - JwtKey=SUPER_SECRET_KEY_CHANGE_ME

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: openledger
    ports:
      - "5432:5432"

